/*html, body {
        overflow: hidden;
        position: fixed;
        touch-action: none;
      }
      body {
        position: fixed;
        touch-action: none;
        background-color : rgb(87, 103, 110);        
      }*/
html {
  overflow: hidden;
  /*position: fixed; /*disables centering canvas on screen of screen, but enables some iphone use*/
  touch-action: none;
}
body {
  position: relative;
  touch-action: none;
  background-color: rgb(87, 103, 110);
}
#sketch_holder {
  touch-action: none;
  align-items: center;
  justify-content: center;
  display: flex;
}
#my_range {
  justify-content: left;
  align-items: left;
}
#options_div{
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}
#slider_div{
  text-align: center;
  padding-bottom: 3px;
}
#button_div{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
#easy_btn {
  color: red;
}
.btn {
  margin: 10px;
  align-items: center;
  justify-content: center;
}
#dropdown_div{
  text-align: center;
}
select {
  background-color: rgb(189, 189, 189);
  text-shadow:0 1px 0 rgba(0, 0, 0, 0.411);
}
.controls_text{
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
}
